Fits file

In [4]:
#Loops

def quehongo(input1, input2):
    return

In [5]:
# Instantiate a counter.
x = 0

# Create a while loop that prints "not there yet," increments x by 1, a 
# and prints x until x reaches 5.
while x < 5:
    print('Not there yet, x=' + str(x))
    x = x + 1
    print('x=' + str(x))

Not there yet, x=0
x=1
Not there yet, x=1
x=2
Not there yet, x=2
x=3
Not there yet, x=3
x=4
Not there yet, x=4
x=5

In [11]:
# Import the random module to be able to create a (pseudo) random number.
import random

number = random.randint(1,25)                   # Generate random number
number_of_guesses = 0                           # Instantiate guess counter

while number_of_guesses < 5:
    print('Guess a number between 1 and 25: ')  # Tell user to guess number
    guess = input()                             # Produce the user input field
    guess = int(guess)                          # Convert guess to integer
    number_of_guesses += 1                      # Increment guess count by 1

    if guess == number:                         # Break while loop if guess is correct
        break
    elif number_of_guesses == 5:                # Break while loop if guess limit reached
        break
    else:                                       # Tell user to try again
        print('Nope! Try again.')
        if guess > number:
            print('too large')
        else:
            print('too small')

# Message to display if correct
if guess == number:
    print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries!')
# Message to display after 5 unsuccessful guesses
else:
    print('You did not guess the number. The number was ' + str(number) + '.')

Guess a number between 1 and 25:

 8

Nope! Try again.
too small
Guess a number between 1 and 25:

 9

Nope! Try again.
too small
Guess a number between 1 and 25:

 14

Nope! Try again.
too large
Guess a number between 1 and 25:

 13

Nope! Try again.
too large
Guess a number between 1 and 25:

 12

Correct! You guessed the number in 5 tries!

In [12]:
# Example of reading in a .txt file line by line with a for loop
with open('zen_of_python.txt') as f:
    for line in f:
        print(line)
print('\nI\'m done.')

FileNotFoundError: [Errno 2] No such file or directory: 'zen_of_python.txt'

In [14]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
     return (x-32) * 5/9

# Create a table of Celsius-->Fahrenheit conversions every 10 degrees, 0-100
for x in range(0, 101, 10):
     print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [21]:
students = [['Igor', 'Sokolov'], ['Riko', 'Miyazaki'], ['Tuva', 'Johansen']]
for student in students:
   for name in student:
       print(name)
   print()

Igor
Sokolov

Riko
Miyazaki

Tuva
Johansen

In this example, the students variable contains a list of three lists. Each inner list contains two elements: a given name and a surname. The first for loop iterates over the inner lists. The second (nested) for loop iterates over each name in each inner list and prints the name. After each iteration of the outer loop, the program uses an empty print statement to print a new line.

In [4]:
color = 'orange'
#color[1:4]
color[:4]

'oran'

In [5]:
num1 = ['a1', 'b2', 'c3']
'a1' in num1

True

In [7]:
name = 'Papa'
number = 14
print('hola {name}, {num}'.format(name=name,num=number))

hola Papa, 14

In [9]:
price = 7.75 
with_tax = price * 1.07
print('Base ${:.2f} USD. Tax ${:.2f} USD.'.format(price, with_tax))

Base $7.75 USD. Tax $8.29 USD.

In [13]:
def to_celsius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print('{:>3} F | {:>6.2f} C'.format(x,to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [17]:
num = 1000.987123
f'{num:>30.2f}'

'                       1000.99'

In [21]:
my_string = 'Hyappy birthday'

print(my_string.count('y'))
print(my_string.count('y', 2, 7)) #between 2 and 7

3
1

In [22]:
my_string = 'Happy birthday'

my_string.find('birth')

6

In [23]:
separator_string = ' '
iterable_of_strings = ['Happy', 'birthday', 'to', 'you']

separator_string.join(iterable_of_strings)

'Happy birthday to you'

In [25]:
my_string = 'https://www.google.com/'

my_string.partition('.')

('https://www', '.', 'google.com/')

In [26]:
import re

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('[bms]ad', my_string)

In [28]:
# The append() method adds an element to the end of a list.
fruits = ['Pineapple', 'Banana', 'Apple', 'Melon']
fruits.append('Kiwi')
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [30]:
# The insert() method adds an element to a list at the specified index.
fruits.insert(1, 'Orange')
print(fruits)

['Pineapple', 'Orange', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [31]:
# The insert() method adds an element to a list at the specified index.
fruits.insert(0, 'Mango')
print(fruits)

['Mango', 'Pineapple', 'Orange', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [32]:
# The remove() method deletes the first occurrence of an element in a list.
fruits.remove('Banana')
print(fruits)

['Mango', 'Pineapple', 'Orange', 'Orange', 'Apple', 'Melon', 'Kiwi']

In [34]:
# The pop() method removes the element at a given index and returns it.
# If no index is given, it removes and returns the last element.
fruits.pop(2)
print(fruits)

['Mango', 'Pineapple', 'Apple', 'Melon', 'Kiwi']

In [35]:
# Reassign the element at a given index with a new value.
fruits[1] = 'Mango'

In [37]:
print(fruits)

['Mango', 'Mango', 'Apple', 'Melon', 'Kiwi']

In [39]:
# Strings are immutable because you need to reassign them to modify them.
power = '1.21'
power = power + ' gigawatts'
print(power)

1.21 gigawatts

In [40]:
# Lists are mutable because you can overwrite their elements
power = [1.21, 'gigawatts']
power[0] = 2.21
print(power)

[2.21, 'gigawatts']

In [41]:
# Tuples are instantiated with parentheses.
fullname = ('Masha', 'Z', 'Hopper')

# Tuples are immutable, so their elements cannot be overwritten.
fullname[2] = 'Copper'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [42]:
# You can combine tuples using addition.
fullname = fullname + ('Jr',)
print(fullname)

('Masha', 'Z', 'Hopper', 'Jr')

In [43]:
# The tuple() function converts an object's data type to tuple.
fullname = ['Masha', 'Z', 'Hopper']
fullname = tuple(fullname)
print(fullname)

('Masha', 'Z', 'Hopper')

In [45]:
# Functions that return multiple values return them in a tuple.
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [48]:
print(to_dollars_cents(22))

(22, 0)

In [49]:
# Functions that return multiple values return them in a tuple.
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [50]:
# Functions that return multiple values return them in a tuple.
to_dollars_cents(6.55)

(6, 55)

In [51]:
# "Unpacking" a tuple allows a tuple's elements to be assigned to variables.
dollars, cents = to_dollars_cents(6.55)
print(dollars + 1)
print(cents + 1)

7
56

In [52]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [('Marta', 20, 'center'),
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),
        ]

In [54]:
# Use a for loop to loop over the list, unpack the tuple at each iteration, and
# print one of the values.
for name, age, position in team:
    print(name, age)

Marta 20
Ana 22
Gabi 22
Luz 21
Lorena 19

In [55]:
# This code produces the same result as the code in the cell above.
for player in team:
    print(player[0])

Marta
Ana
Gabi
Luz
Lorena

In [56]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [58]:
# Create a function to extract and names and positions from the team list and
# format them to be printed. Returns a list.
def player_position(players):
    result = []
    for name, age, position in players:
        result.append('Name: {:>19} \nPosition: {:>15}\n'.format(name, position))

    return result

In [59]:
# Loop over the list of formatted names and positions produced by
# player_position() function and print them.
for player in player_position(team):
    print(player)

Name:               Marta
Position:          center

Name:                 Ana
Position:     point guard

Name:                Gabi
Position:  shooting guard

Name:                 Luz
Position:   power forward

Name:              Lorena
Position:   small forward

In [60]:
# Nested loops can produce the different combinations of pips (dots) in
# a set of dominoes.
for left in range(7):
    for right in range(left, 7):
        print(f"[{left}|{right}]", end=" ")
    print('\n')

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]

[2|2] [2|3] [2|4] [2|5] [2|6]

[3|3] [3|4] [3|5] [3|6]

[4|4] [4|5] [4|6]

[5|5] [5|6]

[6|6]

In [61]:
# Create a list of dominoes, with each domino reprented as a tuple.
dominoes = []
for left in range(7):
    for right in range(left, 7):
        dominoes.append((left, right))
dominoes

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)]

In [62]:
# Select index 1 of the tuple at index 4 in the list of dominoes.
dominoes[4][1]

4

In [63]:
# You can use a for loop to sum the pips on each domino and append
# the sum to a new list.
pips_from_loop = []
for domino in dominoes:
    pips_from_loop.append(domino[0] + domino[1])
print(pips_from_loop)

[0, 1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 6, 7, 8, 9, 8, 9, 10, 10, 11, 12]

In [64]:
# Create a dictionary with pens as keys and the animals they contain as values.
# Dictionaries can be instantiated using braces.
zoo = {
    'pen_1': 'penguins',
    'pen_2': 'zebras',
    'pen_3': 'lions',
    }

# Selecting the `pen_2` key returns `zebras`, the value stored at that key.
zoo['pen_2']

'zebras'

In [65]:
# Dictionaries can also be instantiated using the dict() function.
zoo = dict(
    pen_1='monkeys',
    pen_2='zebras',
    pen_3='lions',
    )

zoo['pen_2']

'zebras'

In [66]:
# Another way to create a dictionary using the dict() function.
zoo = dict(
    [
     ['pen_1', 'monkeys'],
     ['pen_2', 'zebras'],
     ['pen_3', 'lions'],
    ]
)

zoo['pen_2']

'zebras'

In [67]:
# Assign a new key: value pair to an existing dictionary.
zoo['pen_4'] = 'crocodiles'
zoo

{'pen_1': 'monkeys',
 'pen_2': 'zebras',
 'pen_3': 'lions',
 'pen_4': 'crocodiles'}

In [68]:
# Dictionaries are unordered and do not support numerical indexing.
zoo[2]

KeyError: 2

In [69]:
# Use the `in` keyword to produce a Boolean of whether a given key exists in a dictionary.
print('pen_1' in zoo)
print('pen_7' in zoo)

True
False

In [70]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [71]:
# Add new players to the list.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [72]:
# Instantiate an empty dictionary.
new_team = {}

# Loop over the tuples in the list of players and unpack their values.
for name, age, position in team:
    if position in new_team:                    # If position already a key in new_team,
        new_team[position].append((name, age))  # append (name, age) tup to list at that value.
    else:
        new_team[position] = [(name, age)]      # If position not a key in new_team,
                                                # create a new key whose value is a list
                                                # containing (name, age) tup.
new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [73]:
# Examine the value at the 'point guard' key.
new_team['point guard']

[('Ana', 22), ('Mari', 18)]

In [74]:
# You can access the a dictionary's keys by looping over them.
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [75]:
# The keys() method returns the keys of a dictionary.
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [76]:
# The values() method returns all the values in a dictionary.
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [79]:
# The items() method returns both the keys and the values.
for a, b in new_team.items():
    print(a, b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

In [80]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'baz', 'foo', 'bar'}

In [81]:
# The set() function converts a tuple to a set.
x = set(('foo','bar','baz', 'foo'))
print(x)

{'baz', 'foo', 'bar'}

In [82]:
# The set() function converts a string to a set.
x = set('foo')
print(x)

{'o', 'f'}

In [83]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

<class 'set'>
<class 'dict'>

In [84]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

{'foo'}

In [85]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))
print(set1 & set2)

{4, 5, 6}
{4, 5, 6}

In [86]:
cities = ['Paris', 'Lagos', 'Mumbai']
countries = ['France', 'Nigeria', 'India']
places = zip(cities, countries)


print(places)
print(list(places))

<zip object at 0x00000296232C5D80>
[('Paris', 'France'), ('Lagos', 'Nigeria'), ('Mumbai', 'India')]

In [87]:
scientists = [('Nikola', 'Tesla'), ('Charles', 'Darwin'), ('Marie', 'Curie')]
given_names, surnames = zip(*scientists)
print(given_names)
print(surnames)

('Nikola', 'Charles', 'Marie')
('Tesla', 'Darwin', 'Curie')

In [88]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters):
   print(index, letter)

0 a
1 b
2 c

In [89]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters, 2):
   print(index, letter)

2 a
3 b
4 c

In [90]:
numbers = [1, 2, 3, 4, 5]
new_list = [x + 10 for x in numbers]
print(new_list)

[11, 12, 13, 14, 15]

In [92]:
words = ['Emotan', 'Amina', 'Ibeno', 'Sankwala']
new_list = [(word[0], word[-1]) for word in words if len(word) > 5]
print(new_list)

[('E', 'n'), ('S', 'a')]

In [93]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [94]:
matrix = [[j for j in range(3)] for i in range(3)]
   
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

This is particuarily powerful when iterating below

In [99]:
# Import required module
import time


# define function to implement for loop
def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result


# define function to implement list comprehension
def list_comprehension(n):
	return [i**2 for i in range(n)]


# Driver Code

# Calculate time taken by for_loop()
begin = time.time()
for_loop(10**9)
end = time.time()

# Display time taken by for_loop()
print('Time taken for_loop:', round(end-begin, 2))

# Calculate time takens by list_comprehension()
begin = time.time()
list_comprehension(10**9)
end = time.time()

# Display time taken by for_loop()
print('Time taken for list_comprehension:', round(end-begin, 2))

Time taken for_loop: 103.24
Time taken for list_comprehension: 87.95